databases:
  - name: mitadake-postgres
    databaseName: mitadake_production
    user: mitadake_user
    plan: free

services:
  - type: web
    name: mitadake
    runtime: ruby
    buildCommand: "./bin/render-build.sh"
    startCommand: "bundle exec puma -C config/puma.rb"
    plan: free
    postDeploy:
      - bundle exec rails db:migrate
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: mitadake-postgres
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false
      - key: RAILS_ENV
        value: production
      - key: BUNDLE_WITHOUT
        value: "development:test"
      - key: RAILS_MAX_THREADS
        value: "2"