<%# app/views/users/show.html.erb %>
<% content_for :title, @is_own_page ? "マイページ" : "#{@user.name}のプロフィール" %>

<div class="min-h-screen bg-white">
  <%= render 'users/designs/mypage_vertical_compact', user: @user, is_own_page: @is_own_page %>
</div>
