<%#
  app/views/devise/mailer/email_changed.html.erb
  ==========================================
  メールアドレス変更通知メール
  ==========================================

  【このテンプレートの役割】
  メールアドレスが変更されたことをユーザーに通知するメール。
  セキュリティ対策として、旧アドレスに送信される。

  【使用可能な変数】
  - @email: 元のメールアドレス
  - @resource: Userオブジェクト
  - @resource.unconfirmed_email: 新しい（未確認の）メール
  - @resource.email: 現在のメールアドレス

  【送信タイミング】
  - ユーザーがメールアドレスを変更した時
%>
<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>We're contacting you to notify you that your email is being changed to <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>We're contacting you to notify you that your email has been changed to <%= @resource.email %>.</p>
<% end %>
