<%#
  app/views/devise/mailer/password_change.html.erb
  ==========================================
  パスワード変更通知メール
  ==========================================

  【このテンプレートの役割】
  パスワードが変更されたことをユーザーに通知するメール。
  不正アクセスの早期発見のためのセキュリティ通知。

  【使用可能な変数】
  - @resource: Userオブジェクト
  - @resource.email: ユーザーのメールアドレス

  【送信タイミング】
  - パスワードリセット完了時
  - プロフィール編集でパスワード変更時
%>
<p>Hello <%= @resource.email %>!</p>

<p>We're contacting you to notify you that your password has been changed.</p>
